{{ define "details"}}


<!DOCTYPE html >
  <head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/css/main.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


{{if hasField . "Articles"}}
  <title>{{title .}}</title>
{{end}}

<script type="application/ld+json">

 {{if hasField . "Articles"}}{{marshal .}}{{end}}
  
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{.Analytics}}', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>
   <div class="container">
   
  <div class="well">

{{if hasField . "Assets"}}

    <div class="row">
   
    <div class="col-md-4">
    {{range .Assets}}
   
  
          <image src='/assets/img/thumbs/{{.Link}}' class="img-responsive pull-left img-thumbnail" />
 
    {{end}}
  </div>

  <div class="col-md-8">
    <h3>Myyntihinta:</h3>
    <h1 class='cvbigtitle'>190.000 EUR</h1>

    <h1>Suora kontakti:</h1>
    <h3>Email: <a href="mailto:support@mazurov.eu?subject=appartment"> support@mazurov.eu</a></h3>    
    <h3>Tai Puh. +358451202801</h3>
    
    <a class="btn btn-primary btn-lg" href="/" role="button">Palata</a>


  </div>  

  </div>

   {{end}}

   

  
  </div>
  
  </div>


</body>

</html>

{{ end }}