{{ define "header_common"}}


<!DOCTYPE html >
  <head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/css/main.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


{{if hasField . "Articles"}}
  <title>{{title .}}</title>
{{end}}

<script type="application/ld+json">

 {{if hasField . "Articles"}}{{marshal .}}{{end}}
  
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{.Analytics}}', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>
   <div class="container">
   
  <div class="well">

{{if hasField . "Assets"}}

    <div class="row">
   
    <div class="col-md-5">
    {{range  .Assets}}
   
       
        <button  data-toggle="modal" data-target="#myModal"><img src= '/assets/img/thumbs/{{.Link}}' class="pull-left img-responsive" ></button>
 
    {{end}}
  </div>

  <div class="col-md-7">
    <h3>Myyntihinta:</h3>
    <h1 class='cvbigtitle'>190.000 EUR</h1>

    <h1>Espoo HUONESTO 81.5m </h1>
    <h2>Osoite:</h2>
    <h3>Kalasääksentie 8 A 5 02650 ESPOO </h3>
    
    <a class="btn btn-primary btn-lg" href="/details.html" role="button">Tarkemmat tiedot</a>

  </div>  

  </div>

   {{end}}
  
  </div>
  
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Valokuvat</h4>
      </div>
      <div class="modal-body">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/img/1.jpg" alt="...">
      <div class="carousel-caption">
        sali/keittiö
      </div>
    </div>

    {{range .Assets}}

    <div class="item">
      <img src="/assets/img/{{.Link}}" alt="...">
      <div class="carousel-caption">
        {{.Description}}
      </div>
    </div>

    {{end}}
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>


{{ end }}