{{ define "header_common"}}


<!DOCTYPE html >
  <head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/main.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


{{if hasField . "Articles"}}
  <title>{{title .Articles}}</title>
{{end}}
{{if hasField . "Title"}}
  <title>{{title .}}</title>
{{end}}

<script type="application/ld+json">

 {{if hasField . "Articles"}}{{marshal .Articles}}{{end}}
 {{if hasField . "Title"}}{{marshal .}}{{end}}
 
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85362694-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>
   <div class="container">
   
  <div class="well">

{{if hasField . "Assets"}}

    <div class="row">
   
    <div class="col-md-4">
      <h1>Espoo HUONESTO 81.5m </h1>
      <h2>Osoite:</h2>
      <h3>Kalasääksentie 8 A 5 02650 ESPOO </h3>
      <h2>Email: <a href="mailto:support@mazurov.eu?subject=Appartment">Contact!</a> </h2>
    </div>

    <div class="col-md-4">
    {{range $key,$asset := .Assets}}
   
      {{ range $key,$img := $asset}}
        {{if eq $key 0}}
          <image src='/assets/img/thumbs/{{$img}}' class="img-responsive pull-left img-thumbnail" />
        {{end}}
      {{end}}
    {{end}}
  </div>


  <div class="col-md-4">
    <h3>Myyntihinta:</h3>
    <h1 class='cvbigtitle'>1900,00 EUR</h1>


  </div>  

  </div>

   {{end}}

   {{if hasField . "Title"}}

      <div class="row">
   
    <div class="col-md-4">
      <h1>Espoo HUONESTO 81.5m </h1>
      <h2>Osoite:</h2>
      <h3>Kalasääksentie 8 A 5 02650 ESPOO </h3>
      <h2>Email: <a href="mailto:support@mazurov.eu?subject=Appartment">Contact!</a> </h2>
    </div>
    <div class="col-md-4">
      <image src='/assets/img/1.jpg' class="img-responsive pull-left img-thumbnail" />
    </div>  

  <div class="col-md-4">
    <h3>Myyntihinta:</h3>
    <h1 class='cvbigtitle'>1900,00 EUR</h1>


  </div>  

  </div>

   {{end}}



  
  </div>
  
  </div>
<!--        	
    <div class="row">
			
			<div class="col-md-4"><image src='/assets/img/freelancer_transp.png' class="img-responsive"/></div>
			<div class="col-md-4"><h2>Ing. Mazurov A.</h2></div>
			<div class="col-md-4"><image src='/assets/img/free_for_job.png' class="img-responsive"/></div>
	
		</div>
        <div class="row">
			
			<div class="col-md-4"><image src='/assets/img/mazurovopt.jpg' class="img-responsive img-rounded"/></div>
			<div class="col-md-4"><p class='cvbigtitle'>Professional Programming</p>C/JAVA/Golang/JavaScript etc...<p class='name'></p></div>
			<div class="col-md-4"><a href='http://mazurov.eu' ><image src='/assets/img/orange-arrow-right.png' class="img-responsive">More details</a></div>
	
		</div>		
		-->
{{ end }}