{{ template "header_common" .}}

<script>

function collapseHandler() {
	
	
	$('#collapse').collapse('toggle');
	
}
</script>
{{range $article := .Articles}}	
<div  id='Mcontents'>{{$article.Mcontents}} </div>
{{end}}

<div class="container">

<button class="btn btn-primary" type="button" onclick="collapseHandler()">Show </button>

<div class="collapse" id="collapse">
<div class="well">
{{range $article := .Articles}}	
<h1 id="Title">{{ $article.Title}} </h1>

<div id="Contents">{{ $article.Contents}}</div>
{{end}}
</div>
</div>


</div>
</body>

</html>