{{ define "m_header_common"}}


<!DOCTYPE html >
  <head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/css/m_main.css">
<!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

{{if hasField . "Articles"}}
  <title>{{title .}}</title>
{{end}}

<script type="application/ld+json">

 {{if hasField . "Articles"}}{{marshal .}}{{end}}
 
 
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{.Analytics}}', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>
   <div class="container">

  <div class="well">
  {{if hasField . "Assets"}}

    <div class="row">
       <div class="col-xs-4">
    {{range  .Assets}}
   
          <image src='/assets/img/thumbs/{{.Link}}' class="img-responsive pull-left img-thumbnail" />
 
    {{end}}
  </div>
    <div class="col-xs-8">
      <h3>Myyntihinta:</h3>
      <h1 class='cvbigtitle'>190.000 EUR</h1>

      <h2>Espoo HUONESTO 81.5m </h2>
      <h3>Osoite:</h3>
      <h4>Kalasääksentie 8 A 5 02650 ESPOO </h4>
      <h3>Email: </h3>
      <h4><a href="mailto:support@mazurov.eu?subject=Appartment">support@mazurov.eu</a></h4>
    </div>

  </div>

   {{end}}

  
  </div>
  
  </div>


{{ end }}